/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


html{
	/*Global Variables*/
	--aside-color-left: orange;
	--aside-color-right: #ffdb76;
	--aside-border-size: 3.5px;
	--space-after-nav: 50px;

	background-color: lightgoldenrodyellow;
}

body{
	display: grid;
	grid-template-areas: "nav nav"
					     "article aside";
    grid-template-columns: 1.5fr 1fr;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
}

/****************************************************/
/****************  NAV & CHILDREN  ******************/
/****************************************************/
nav{
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	margin: 0;
	padding: 35px 10%;
    background-color: darkorange;
    height: 5vw;
}

nav li, nav a, nav button{
	font-family: "Montserrat", 'sans-serif';
	font-weight: 500;
	font-size: 19px;
	color: black;
	text-decoration: none;  /*Remove link highlighting & underline*/
}

.logo{
	cursor: pointer; /*Turns into a pointer when hovered over*/
	width: 70px;
	position: absolute;
	left: 5px;
}

.navLinks{
	list-style: none;
}

.navLinks li{
	display: inline-block;
	padding: 0px 20px;
}

.navLinks li a:hover{
	transition: all 0.3s ease 0s;
	color: white;
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 171, 239, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: rgba(0, 171, 239, 0.6);
}
/****************************************************/
/************  MAIN ARTICLE & CHILDREN  *************/
/****************************************************/
article{
	grid-area: article;
	margin: var(--space-after-nav) 0 20px 10%;
	border: 2px solid black;
	background-color: white;
	border-radius: 35px;
	font-family: Roboto, Garamond;
}

article h1{
	padding-left: 20px;
	padding-top: 25px;
	margin-bottom: 0px;
}

h1:first-child{
	padding-top: 15px;
}

article p{
	padding-left: 20px;
	padding-right:  20px;
	margin-top: 5px;
	font-size: 18px;
}

article ol{
	padding-left: 45px;
	padding-right: 15px;
	font-size: 18px;
	margin-top: 5px;
}

article span{
	font-weight: bold;
}

hr{
	width: 97%;
}

/****************************************************/
/**************  ASIDE & CHILDREN  ******************/
/****************************************************/
aside{
	grid-area: aside;
	border: 2px solid black;
	border-radius: 5px;
	margin: var(--space-after-nav) 25% 20px 0;
	position: relative;
	left: 10%;
	background-color: white;
}

aside h1{
	text-align: center;
	background: var(--aside-color-left);
	margin: 0;
}

#characterImage{
	width: 85%;
	min-width: 200px;
	display: block;
	margin: 0 auto;
}

/***********************Stats Sections**********************/
.stats{
	border: var(--aside-border-size) solid white;
	border-collapse: collapse;
	background-color: var(--aside-color-right);
	text-align: center;
	width: 100%;
	font-size: 20px;
}

.stats td:nth-child(1), .stats th:nth-child(1){
	width: 30%;
	font-family: Garamond;
	background: var(--aside-color-left);
}

.stats td:nth-child(1){
	font-family: Roboto, Garamond;
	font-size: 20px;
}

.filled-in{
	background: red; 
	border: 2px solid var(--aside-color-right);
}

.zero{
	border-left: solid var(--aside-color-right);
}
/***********************************************************/

/***********************Traits Sections**********************/
.traits{
	width: 100%;
	font-size: 20px;
	border: 1px solid white;
	font-family: 'Roboto', 'sans-serif';
}

.traits td:nth-child(1), .traits th:nth-child(1){
	background: var(--aside-color-left);
	font-weight: bold;
}

.traits td:nth-child(2), .traits th:nth-child(2){
	background: var(--aside-color-right);
}
/***********************************************************/

